@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,400;1,8..144,900&family=Roboto:wght@500;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  scroll-behavior: smooth;
  font-size: calc(16px + (24 - 16) * (100vw - 400px) / (4000 - 400));
}

body {
  margin: 0px;
  padding: 0px;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0rem;
  line-height: normal;
  font-weight: inherit;
}

p {
  margin: 0;
  font-weight: inherit;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

:root {
  --BG-PY-color: #e5e5f7;
  --BG-SY-color: #444cf755;
  --BG-TY-color: #444cf7;
  --PY-font-family: "Roboto Serif", serif;
  --PY-font-size: 3rem;
  --SY-font-size: 1.5rem;
  --TY-font-size: 1rem;
  --todo-counter-color: red;
  --pending-counter-color: #c7c720;
  --completed-counter-color: green;
}

main {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  background-color: var(--BG-PY-color);
  opacity: 0.8;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      var(--BG-PY-color) 13px
    ),
    repeating-linear-gradient(var(--BG-SY-color), var(--BG-TY-color));
}

.heading {
  font-family: var(--PY-font-family);
  padding: 5rem 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-weight: 900;
  font-size: var(--PY-font-size);
}

.subtitle {
  font-weight: 100;
  font-size: var(--SY-font-size);
  text-align: center;
}

title p {
  font-size: var(--TY-font-size);
}

.kanban {
  max-width: 90vw;
  margin: 0 auto;
}

.title {
  background-color: var(--BG-PY-color);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

.todo-counter {
  color: var(--todo-counter-color);
}

.pending-counter {
  color: var(--pending-counter-color);
}

.completed-counter {
  color: var(--completed-counter-color);
}

.card textarea {
  border: 0px;
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.card textarea:focus-visible {
  outline-color: transparent;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.d-grid {
  display: grid;
}

.m-r-1 {
  margin-right: 2rem;
}

.m-r-2 {
  margin-right: 1rem;
}

.m-b-1 {
  margin-bottom: 1.5rem;
}

.fw-bolder {
  font-weight: 900;
}

.kanban {
  grid-template-columns: repeat(auto-fit, 1fr);
  gap: 20px;
  /* justify-content: center; */
}

@media (min-width: 768px) {
  .kanban {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .kanban {
    grid-template-columns: repeat(3, 1fr);
  }
}
